Abhängig von der Art der Arbeit unterscheiden sich die Prozesse und Formalia. Hier die verschiedenen Varianten:

#### Praxisprojekt
Das fertige Praxisprojekt muss im Rahmen des [Praxisprojektseminars](https://th-koeln.github.io/mi-bachelor-praxisprojektseminar/) vorgestellt und diskutiert werden. Das Werk und die zugehörigen Artefakte hinterlegen oder verlinken Sie bitte via [Thesis Repo](https://github.com/cnoss/thesis).

#### Bachelor- und Masterarbeit
Die Arbeit muss fristgerecht den Prüfer:innen und dem [Studienbüro](https://www.th-koeln.de/studium/studienbuero-campus-gummersbach_5313.php) bereit gestellt werden. Dazu die digitale Version in einer E-Mail an die Prüfer:innen und das [Studienbüro](https://www.th-koeln.de/studium/studienbuero-campus-gummersbach_5313.php#sprungmarke_1_0) schicken und die Papierversion(en) fristgerecht dem Studienbüro zusenden oder einwerfen. Bei Fragen hierzu bitte das Studienbüro kontaktieren. 

Die Prüfer:innen bewerten die Arbeit. Wird diese mit 4.0 oder besser bewertet, vereinbaren wir einen Termin für das Kolloquium, welches dann die letzte Prüfung im Studium ist. 

Zusätzlich zur Abgabe an die Prüfer:innen und dem Studienbüro, hinterlegen oder verlinken Sie das Werk und die zugehörigen Artefakte bitte via [Thesis Repo](https://github.com/cnoss/thesis) und in der E-Mail. 

Hier finden Sie einige [Tipps & Informationen zum Kolloquium](information-on-the-colloquium).


