

Für Absprachen zum Thema oder zur Arbeit selbst biete ich mittwochs eine Sprechstunde an. Bitte buchen Sie sich jeweils einen [Sprechstundentermin](https://cnoss.youcanbook.me). Hier stehen immer 15 Minuten Slots zur Verfügung. Bitte buchen Sie immer nur einen Slot, es sei denn, wir haben etwas anderes abgesprochen. Bereiten Sie die Termine so vor, dass wir Ihre Fragen im Rahmen der Gesprächszeit beantworten können. Termine außerhalb der Sprechstunden sind in der Regel nicht möglich.

#### Schritt 1: Themenfindung
Bringen Sie zum ersten Termin eine Themenfeldanalyse in Form einer *Concept Map* zu Ihrem Thema mit. Falls Sie mehrere Themen haben, dann bringen Sie mehrere Maps mit. Aus der Map sollte hervorgehen, in welchem Themenfeld Sie Ihre Arbeit ansiedeln möchten und welche Themen an Ihr Thema angrenzen. Bringen Sie bitte auch eine Schlagwortwolke mit Begriffen mit, die in Ihrem späteren Titel enthalten sein könnten.
Im Idealfall können wir uns in dieser ersten Sitzung auf ein Themenfeld und eine grobe Zielsetzung einigen. Steht ein Thema fest, dann erfolgt die weitere Dokumentation, Schulterblick und Abgabe der Artefakte, über mein [Thesis Repo](https://github.com/cnoss/thesis).

#### Schritt 2: Titel und Zielbild der Arbeit
Für den nächsten Sprechstundentermin bereiten Sie bitte mindestens **10 mögliche Titel** der Arbeit und mindestens **3 mögliche Zielbilder** vor. Dokumentieren Sie diese im [Thesis Repo](https://github.com/cnoss/thesis). Wir besprechen Titel und Zielbilder dann gemeinsam, versuchen einen verbindlichen Titel zu vereinbaren und besprechen mögliche Vorgehensoptionen.

#### Schritt 3: Anmeldung der Arbeit (nur Bachelor- und Masterarbeiten)
Bachelor- und Masterarbeiten müssen angemeldet werden. Hier finden Sie die erforderlichen Unterlagen:
- [Medieninformatik Bachelor – Ordnungen und Formulare ](https://www.th-koeln.de/studium/medieninformatik-bachelor--ordnungen-und-formulare_3963.php)
- [Medieninformatik Master – Ordnungen und Formulare](https://www.th-koeln.de/studium/medieninformatik-master--ordnungen-und-formulare_3724.php)









