Mit dem Sommersemester habe ich die Ausrichtung der Themen und Arbeiten, die ich betreue, umgestellt. Ich betreue nur Projektarbeiten, an deren Ende ein erlebbares Werk steht. Das kann eine Software, ein Film, ein Spiel, ein Kunstwerk, ein Prototyp, ein Designkonzept, eine Installation, eine App, ein Workshop, ein Event, ein Spielzeug, ein Instrument, ein Tool, ein Service, ein Produkt, ein Unternehmen, eine Organisation, eine Initiative, eine Kampagne, eine Bewegung, eine Plattform, eine Community, eine Aktion, eine Performance, eine Ausstellung, eine Website, ein Magazin, ein Podcast, ein Video, ein Blog, ein Comic, ein Festival, eine Konferenz, ein Coaching, ein Mentoring, ein Training, ein Modell, eine Visualisierung, ein Möbel, ein Kleidungsstück, ein Accessoire … sein. Aber es ist keine Hausarbeit, die ausschließlich in einem PDF-Dokument endet. 

### Warum?

Ich habe in den letzten Jahren festgestellt, dass die meisten Studierenden, die ich betreue etwas machen wollen, was sie begeistert, was sie stolz macht, was sie zeigen können und sie bewegt. Sie wollen etwas, das sie in der Welt sichtbar macht. Ich will Arbeiten und Projekte betreuen, die das ermöglichen. Und dies lässt sich nur selten in einem PDF-Dokument von 60 Seiten abbilden.

### Was muss abgegeben werden?

Neben dem Werk müssen verschiedene Artefakte abgegeben werden, die das Werk dokumentieren und die Arbeit reflektieren. Dazu gehören:

<ul class="artefact-list">
    <li><a href="artefacts#werk"><i class="icofont-fire-burn is-large"></i>Das Werk</a></li>
    <li><a href="artefacts#ausarbeitung"><i class="icofont-ebook is-large"></i>Ausarbeitung</a></li>
    <li><a href="artefacts#research-diary"><i class="icofont-video-alt is-large"></i>Research Diary</a></li>
    <li><a href="artefacts#abschlussvideo"><i class="icofont-presentation is-large"></i>Abschlussvideo</a></li>
    <li><a href="artefacts#bilddokumentation"><i class="icofont-image is-large"></i>Bilddokumentation</a></li>
</ul>

Diese bilden die Basis für die Bewertung der Arbeit. Abhängig von der Art der Arbeit (Praxisprojekt, Bachelorarbeit oder Masterarbeit) gibt es unterschiedliche Anforderungen an die Artefakte, bzw. werden nicht alle Artefakte benötigt. Weitere Informationen dazu finden Sie in den jeweiligen Erläuterungen zu den Arbeiten:
- [Praxisprojekt](types-of-work#praxisprojekt)
- [Bachelorarbeit](types-of-work#bachelorarbeit)
- [Masterarbeit](types-of-work#masterarbeit)